<div class="aboutWrapper">
  <h1> Dream Vacations and Cruises </h1>

<div class="aboutImgBox">
  <img src="../../assets/images/cruiseship.jpg">
  <div class="imgText">
  <p>
    Cruising is the most affordable way to see multiple destinations in the Caribbean.
    The all-inclusive nature makes it easier for you to budget and know exactly how much you'll
    be spending on lodging, food and entertainment. Veteran cruisers warn that there are some
    surprises along the way if you're not careful, as not everything is included.
  </p>
  </div>
</div>
<hr>
  <div class="aboutImgBox">
    <img src="../../assets/images/resort.jpg">
    <div class="imgText">
      <p>
        The tropical islands of the Caribbean are known for their many all-inclusive resorts that
        include all meals, alcohol, and a variety of activities in their rates. But some properties
        are definitely a cut above the rest. Check out our picks for the absolute best all-inclusive
        resorts in St. Lucia, the Dominican Republic, Jamaica, the Bahamas, Grenada, Barbados, or Antigua
        and start planning your Caribbean getaway.
      </p>
    </div>
  </div>
  <hr>

  <div class="aboutImgBox">
    <img src="../../assets/images/scubadiving.jpg">
    <div class="imgText">
      <p>
        Take a break from the palm trees and hammocks on your next trip to the Caribbean and venture into the
        depths of the ocean. The Caribbean sports a world-renowned scuba
        diving culture and hundreds of diving sites known for their colorful beauty and vast marine life.
        Whether you’re diving through the majestic wreck of a former ocean liner or dropping by a bay swarming
        with stingrays.
      </p>
    </div>
  </div>
  <hr>
  <div class="aboutImgBox">
    <img src="../../assets/images/travelagent.jpg">
    <div class="imgText">
      <p>
        A travel agency's main function is to act as an agent, selling travel products and services on behalf of
        a supplier. Consequently, unlike other retail businesses, they do not keep a stock in hand, unless they
        have pre-booked hotel rooms and/or cabins on a cruise ship for a group travel event such as a wedding,
        honeymoon, or a group event.
      </p>
    </div>
  </div>
</div>
