/* You can add global styles to this file, and also import other style files */
body{
  width:100%;
  margin:0px;
}

.wrapper{
  width:70%;
  float:left;
  margin-bottom:50px;
}
.sideWrapper {
  width:28%;
  margin-left: 8px;
  float:right;

  padding:15px;
  margin-bottom:50px;
}

@media screen and (max-width: 925px){

  .wrapper{
    width:100%;
  }
  .sideWrapper {
    display:none;
    height:0px;
    width:0%;
    margin:0px;
  }

}
 @media screen and (max-width: 650px){
  .bannerMargin{
    margin-top:150px;
  }
   .nav{
     height:200px;

   }

   .navbar li.signup , .navbar li{
     float:none;
   }

   .nav li {
     width:100%;
     border-bottom:1px solid white;
   }

    .logo{
      display:none;
      height:0px;
    }
   .nav li:last-child{
     border-bottom:none;
   }
   .nav li:first-child{
     border-bottom:none;
   }
   .dropdown{
     width:100%;
   }


.slide{
  margin-left:-100px;
}


 }
