<img src="assets/images/passport.jpg">

<h2 class="mainTitle">Start Packing!</h2>
<br>
<button class="btn btn-primary" (click)="showList()" id="showDestinations">Destinations</button>
<div id="destList" class="showList  listdest">
  <img src="assets/images/hawaii.jpg"/>
  <ul>
    <li>Barbados</li>
    <li>Cayman Islands</li>
    <li>Caribbean</li>
    <li>Jamaica</li>
    <li>Aruba</li>
    <li>Key West</li>
    <li>Hawaii</li>
  </ul>
</div>
<br>
<br>

<app-home-image-boxes></app-home-image-boxes>
